{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    input[type=text] {
        border-radius:0px;
        border: none;
        border-bottom: 2px solid grey;
    }
    input[type=password] {
        border-radius: 0px;
        border: none;
        border-bottom: 2px solid grey;
    }
    .logIn {
        margin-right: 10px;
        border-radius: 0.2rem;
        background-color: #1de9b6;
        color: white;
        border-style: none;
    }
        .logIn:hover {
            background: white;
            background-color: dodgerblue;
            transition: all 0.3s ease;
            color: black;
        }
    .signUp {
        border-style: none;
        border-radius: 0.2rem;
        background-color: #ff6d00;
        color: white;
    }
        .signUp:hover {
            background: white;
            background-color: dodgerblue;
            transition: all 0.3s ease;
            color: black;
        }
</style>

<div class="container-fluid" style="">
    <div class="row">
        <div class="col" style="max-width:50%;  height:911px; background: rgb(2,0,36);background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(43,43,184,1) 41%, rgba(0,212,255,1) 100%);">

        </div>
        <div class="col" style="max-width:500px; margin-top:150px;">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log In</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <small class="text-muted" style="margin-left:440px; ">
                        <a href="{% url 'password_reset' %}" >Forgot Password?</a>
                    </small>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <button class="btn btn-outline-info  btn-lg col-lg logIn" type="submit">Log In</button>
                                <a href="{% url 'choose_register' %}" class="btn btn-outline-info col-lg btn-lg signUp">Sign Up</a>
                            </div>
                        </div>
                    
                    </div>

                </form>
                <div class="border-top pt-3">
                    <a class="ml-2 btn btn-primary btn-lg" href="{% url 'social:begin' 'linkedin-oauth2' %}">Log In with LinkedIn <i class="fa fa-linkedin-square" style="font-size:30px; border-left: 1px solid #86c7fe; text-align:center; padding: 5px;"></i></a>
                   
                </div>

            </div>

           
        </div>
    </div>
    

</div>



{% endblock content %}