{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .row {
        border-radius: 10px;
    }

    .row:hover{
        background-color:dodgerblue;
    }

</style>

<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">

            <legend class="border-bottom mb-4">Parsed Information:</legend>
            <div class="block">
                <label for="name" style="display: inline-block;width: 140px;text-align: right;">Full Name: </label>
                <input type="text" name="name" style="margin-bottom:20px; " value={{name}}><br>
            </div>
            <div class="block" >
                <label for="email" style="display: inline-block;width: 140px;text-align: right;">Email: </label>
                <input type="text" name="email" style="margin-bottom:20px; " value={{email}}><br>
            </div>
            <div class="block">
                <label for="phone" style="display: inline-block;width: 140px;text-align: right;">Phone Number: </label>
                <input type="text" name="phone" value={{mobile_number}}><br><br>
            </div>
            


        </fieldset>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Parsed Skills:</legend>
            
            {% for skills in parsed_skills %}
            
            {% csrf_token %}
            <div class="row">
                <label for="delete" style="margin-left:10px; margin-top:10px;">{{skills|safe}}</label>
                <div class="col ml-auto" style="margin-bottom: 10px; margin-top: 10px;">
                    <button class="btn btn-primary" style="float:right" type="submit" name="delete" value="{{skills}}"><b>DEL</b></button>
                </div>
                
            </div>
            
            
            {% endfor %}
        </fieldset>
        <button class="btn btn-primary" type="submit" name="save"><b>Save</b></button>
    </form>
</div>
    


{% endblock content %}

