.outer {
    background-color: #ffe5e0;
    text-decoration: none !important;
    padding-top: 3px;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
.heart {
    text-align: center;
    text-decoration: none !important;
    line-height: 85px;
    width: 80px;
    font-size: 25px;
      
}
  
.unfavoritedHeart {
    color: gray;
}
  
.unfavoritedBody {
    background-color: #ffe5e0;
}
  
.favoritedHeart {
    color: #ff6347;
}
  
.favoritedBody {
    background-color: #ffbfbf;
}