{% extends "base.html" %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<br>

<div class="offset-1 col-md-8">
	<div class="row">
		<div class="col-md-12">
			<form method = 'post' id = 1>
				{%csrf_token%}
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<h4>Add Work Experience</h4>
								<hr>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group row">
									<label class="col-4 col-form-label"><b>Job Title </b></label> 
									<div class="col-8">
										<input class="form-control here" type="text" name="job">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-4 col-form-label"><b>Time Worked </b></label> 
									<div class="col-8">
										<input class="form-control here" type="text" name="years">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-4 col-form-label"><b>Company Name</b></label> 
									<div class="col-8">
										<input class="form-control here" type="text" name="company">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-4 col-form-label"><b>Additional Comments </b></label> 
									<div class="col-8">
										<textarea name="comment" cols="40" rows="4" class="form-control"></textarea>
									</div>
								</div>
								<div class="form-group row">
									<div class="offset-8 col-8">
										<button type="button" class="btn btn-primary">
											<a href="{% url 'userProfile-home' %}" style="text-decoration: none; color: white"><b>Go Back</b></a><br/>
										</button>
										<button type="submit" class="btn btn-primary">
											<a href="{% url 'userProfile-home' %}" style="text-decoration: none; color: white"><b>Submit</b></a><br/>
										</button>
									</div>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
			</form>
			<br>
		</div>
	</div>
</div>
{%for message in messages%}
	<b>{{message}}</b>
{%endfor%} 
{% endblock content %}