{% extends "userProfile/base.html" %}
{% block content %}

	<form method = 'POST'>
		{%csrf_token%}
		Enter old password: 
		<input type="password" name="oldpass">
		<br><br>
		New password: 
		<input type="password" name="newpass1">
		<br><br>
		confirm new password: 
		<input type="password" name="newpass2">
		<br><br>
		<button type = "button">
			<a href="http://127.0.0.1:8000/userprofile"><b>Go Back</b></a><br/>
		</button>
		<button type="submit">
			<a href="http://127.0.0.1:8000/userprofile"><b>Submit</b></a><br/>
		</button>
	</form> 
	{%for message in messages%}
	<b>{{message}}</b>
	{%endfor%}  
{% endblock content %}