{% extends "base.html" %}
{% block content %}
<script>
function toggle_visibility(x) {
  var x = document.getElementById(x);
  console.log(x);
  console.log(x.style.getPropertyValue('display'));
  if (x.style.display == 'block' || x.style.visibility=='') {
    x.style.display= 'none';
  } else {
    x.style.display= 'block';
  }
  console.log(x.style.getPropertyValue('visibility'));
}
function clear_file(x){
    document.getElementById(x).value = '';
}
</script>
<style>.top-buffer{margin-top:5px;}
.display-block{display:none;}
</style>
<form method="POST" enctype="multipart/form-data">
    <div class = "py-5 text-center">
        <H1>Attach files to apply.</H1>
        <h11>(Resume, CV, Cover Letter, etc.)</h11>
    </div>
    <div class = "col-md-8 offset-md-3 order-md-1">
            <div class = "row justify-content-start">
                <div class = "col-auto mr-auto">
                    <input type="file" id="file_1" name ="file" value="1">
                </div>
                <div class = "col-auto">
                    <a type="button" name="delFile" onclick="clear_file('file_1')" class="btn btn-danger">DEL</a>
                    <a type= "button" onclick ="toggle_visibility('addField'); this.style.display ='none';"class="btn btn-secondary" name = 'addFile' style= "text-decoration: none; color: black">Attach More</a>
                </div>
            </div>
            <div id="addField"  class = "row justify-content-start top-buffer display-block">
                <div class = "col-auto mr-auto">
                    <input type="file" id="file_2" name ="file" value="2">
                </div>
                <div class = "col-auto">
                    <a type="button" name="delFile" onclick="clear_file('file_2')" class="btn btn-danger">DEL</a>
                    <a type= "button" onclick ="toggle_visibility('addField2'); this.style.display ='none';"class="btn btn-secondary" name = 'addFile' style= "text-decoration: none; color: black">Attach More</a>
                </div>
            </div>
            <div id="addField2" style = "display:none" class = "row justify-content-start">
                    <input type="file" id="file_3" name ="file" value="3">
                    <a type="button" name="delFile" onclick="clear_file('file_3')" class="btn btn-danger">DEL</a>
            </div>
            <button type="submit" class="btn btn-primary" name="submit" value="apply">Submit</button>

    </div>

{% csrf_token %}
</form>
{% endblock %}

