{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- Bootstrap Core CSS -->
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	
	<!-- Font-Awesome CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	
	<!-- Side-Dashboard SASS -->
	<link href="{% sass_src '../static/front/scss/nav/nav.scss' %}" rel="stylesheet" type="text/css" />
	
	{% block other_css %}
	
	{% endblock %}
</head>

<body>
	<div class="container-fluid" style="height: 100%">
		<div id="toggleNavBar" class="sideNav">
			<section class='expandToggle' style="z-index:1">
				<ul id="expandToggle" style="padding: 0px">
				    
				    <!-- Web Page Links -->
					<li class="linkItem">
						<a href="{% url 'search_page' %}"> <i class="fa fa-home icon" aria-hidden="true"></i> <span>Home</span></a>
					</li>
					<li class="linkItem">
						<a href="{% url 'userProfile-home' %}"> <i class="fa fa-tachometer icon" aria-hidden="true"></i> <span>Profile</span></a>
					</li>
					<li class="linkItem">
						<a href="{% url 'event_list' %}"> <i class="fa fa-flag icon" aria-hidden="true"></i> <span>Events</span></a>
					</li>
					<li class="linkItem">
						<a href="{% url 'logout' %}"> <i class="fa fa-sign-out icon" aria-hidden="true"></i> <span>Logout</span> </a>
					</li>
					
					<!-- Favorited Job Post Section -->
					<li id="animatable">
						<hr>
						<div style="margin-left: 5px; margin-right: 5px; margin-bottom: 4px"> <span style="margin-right: 1px;padding-left: 0px;font-weight: 500;">Favorited Job Posts</span><span>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample" style="margin-bottom: 5px;">
              <i class="fa fa-chevron-down"></i>
            </button>
          </span></div>
						<div class="collapse" id="collapseExample" style="">
							<div class="card card-body" id="cardBody">
								<div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
									<label class="btn btn-secondary">
										<input type="radio" name="options" id="option1" checked=""> Job Post (#1) </label>
									<label class="btn btn-secondary">
										<input type="radio" name="options" id="option2"> Job Post (#2) </label>
									<label class="btn btn-secondary active">
										<input type="radio" name="options" id="option3"> Job Post (#3) </label>
									<label class="btn btn-secondary">
										<input type="radio" name="options" id="option4"> Job Post (#4) </label>
									<label class="btn btn-secondary">
										<input type="radio" name="options" id="option5"> Job Post (#5) </label>
									<label class="btn btn-secondary">
										<input type="radio" name="options" id="option6"> Job Post (#6) </label>
									<label class="btn btn-secondary">
										<input type="radio" name="options" id="option3"> Job Post (#7) </label>
									<label class="btn btn-secondary">
										<input type="radio" name="options" id="option3"> Job Post (#8) </label>
								</div>
							</div>
						</div>
						<hr> 
					</li>
					
				</ul>
			</section>
		</div>
		
		<!-- Bootstrap core JavaScript -->
		<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
		
		<!-- Side-Dashboard Custom JavaScript -->
		<script src='../static/front/js/nav.js' defer></script>
		
		{% block content %}
		
    {% endblock content %}
  </div> 
</body>

</html>