{% extends "base.html" %}
{% block content %}

<div class = "col-md-8">
<h2>&#9;You've successfully Unsubscribed to Company Updates</h2>

    <div class="border-top pt-3">
        <small class="text-muted">
        </small>
    </div>
</div>
<div style="position: absolute;bottom: 8px;right: 30px;"><a href="{% url 'home' %}" style="margin-top:40px; float:right" class="btn btn-primary" , name='return'>
                                        Return to Home
                                    </a>


{% endblock content %}